body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0c0000;
}

.titulo {
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    background: linear-gradient(to top, #0c0000, #1b0244);
    height: 50px;
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    color: white;
}

.barranavegacao {
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    background: linear-gradient(to top, #0c0000, #1b0244);
    padding-bottom: 5px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 20px;
}

a:link {
    color: white;

}

a:visited {
    color: rgb(199, 223, 188);
}

.telaprincipal {
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    background: linear-gradient(to top, #0c0000, #1b0244);

    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.l1 {
    color: white;
    margin: 5px;
}

.le1 {
    width: 10%;
}

.b1 {
    width: 140px;
    margin: 5px;
    background: linear-gradient(to bottom, #ff0000, black);
    color: white;
}

.n1 {
    width: 5%;
    border: 1px solid black;
}

.titulo2 {
    color: white;
}

.n2 {
    width: 5%;
    background-color: aqua;
    border: 1px solid black;
}

li {
    color: white;
    text-align: left;
}